<h1>Sign in</h1>
<a href="/signup" class="button button-icon icon icon-file">Signup</a>

</br>
</br>
</br>

        <p><a href="/auth/twitter"><img src="https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png" alt="Sign in with Twitter" /></a></p>
        <p><a href="/auth/facebook"><img src='../assets/fb_login.png' alt="Sign in with Facebook" /></a></p>

<strong>Don't use these services?</strong>
  <%= link_to "Create an account", '/signup' %> or login below.
</p>

<%= form_tag "/auth/identity/callback" do %>
  <div class="field">
    <%= label_tag :auth_key, "Email" %><br>
    <%= text_field_tag :auth_key %>
  </div>
  <div class="field">
    <%= label_tag :password %><br>
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Login" %></div>
<% end %>