<a href="/edit_term/<%=@term.id%>">Edit</a>

<a href="/versions/<%=@term.id%>">See Previous Versions</a>

<p><%= @term.term %></p>
<p><%= @term.origin %></p>
<p><%= @term.bit %></p>
<p><%= @term.byte %></p>
<p><%= @term.batch %></p>
<p><%= @term.version_number %></p>


